html, 
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
}
.app {
    display: flex;
    height:100%;
}

.sidebar {
    background-color: darkslategrey;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
background-color: bisque;
height: 60px;
}

.sidebar-footer {
    background-color: brown;
    height: 50px;
}

.sidebar-groups {
    flex-grow: 1;

}

.content {
    flex-grow: 1;

}




import {
    SelectItem
} from 'primeng/api';

interface City {
    name: string;
    code: string;
}

export class MyModel {

    cities1: SelectItem[];

    cities2: City[];

    selectedCity1: City;

    selectedCity2: City;

    constructor() {
        //SelectItem API with label-value pairs
        this.cities1 = [{
                label: 'Select City',
                value: null
            },
            {
                label: 'New York',
                value: {
                    id: 1,
                    name: 'New York',
                    code: 'NY'
                }
            },
            {
                label: 'Rome',
                value: {
                    id: 2,
                    name: 'Rome',
                    code: 'RM'
                }
            },
            {
                label: 'London',
                value: {
                    id: 3,
                    name: 'London',
                    code: 'LDN'
                }
            },
            {
                label: 'Istanbul',
                value: {
                    id: 4,
                    name: 'Istanbul',
                    code: 'IST'
                }
            },
            {
                label: 'Paris',
                value: {
                    id: 5,
                    name: 'Paris',
                    code: 'PRS'
                }
            }
        ];

        //An array of cities
        this.cities2 = [{
                name: 'New York',
                code: 'NY'
            },
            {
                name: 'Rome',
                code: 'RM'
            },
            {
                name: 'London',
                code: 'LDN'
            },
            {
                name: 'Istanbul',
                code: 'IST'
            },
            {
                name: 'Paris',
                code: 'PRS'
            }
        ];
    }

}